.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
.container .wrap {
  background-color: rgb(217, 217, 255);
  min-width: 400px;
  margin: auto;
  padding: 15px;
  border-radius: 5px;
}
.container .wrap .anchors {
  display: block;
  border-radius: 5px;
}
